[Bot]
token = ''
#skip_updates = true

[Database]
name = 'rabotavodesse_bot'
#username = 'root'
#password = ''
#host = 'localhost'
#port = 27017
#auth_source = 'admin'

[Users]
admins_ids = [724477101]

[Log]
#file = '.log'
#level = 30

[Misc]
TECH_SUPPORT_CHAT_ID = -1001304837245 # -1001217984190
MAIN_GROUP_ID = -1001315549534 # -1001227708394
RESTRICT_TIME = 30 # 604800
USERS_TO_INVITE_COUNT = 3 # 20
